*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin:0;
    padding:0;
}

html,body{
    height: dvh;
}

body{
    background-color: #FFF8F1;
}

.block, .material-symbols-outlined, .button, input[type=submit]{
    cursor: pointer;
}

input:focus {
    outline: none;
}
/* splash screen */
.splash{
    position: fixed;
    width:100vw;
    height:100vh;
    background-color: #FF9E44;
    z-index: 8;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.splash div{
    width: calc(min(34%,272px));
    margin-bottom:calc(min(2vw, 16px));
    aspect-ratio:4;
    border-radius: 5px;
}

.splash-rec-1{
    background-color: #37996A;
}

.splash-rec-2{
    background-color: #E74A18;
}

.splash-rec-3{
    background-color: #E16A15;
}

/*authenticatoin*/
.auth{
    /* display: none; */
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index:5;
    padding: 40px 24px;    
    box-sizing: border-box; 
    transition: transform 1s ease-in-out;
}
.auth-title {
    margin-bottom: 16px;
}
.auth > p{
    color:#888;
}
.auth-form {
    margin: 24px 0px;
}

.auth-form-forgot-password{
    color:#888;
    margin: 0 0px 12px 12px;
    text-decoration: underline;
}

.auth input{
    font-size: 16px;
    background-color: #FF9E4413;
    outline:none;
    border: none;
    box-sizing: border-box;
    width:100%;
    padding: 20px 12px;
    margin-bottom:4px;
    border-radius: 8px;
}
.auth input[type= submit]{
    background-color: #FF9E44;
}

.auth-switch{
    margin-top: 20px;
    text-align: center;
}

.auth-switch span{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

#confirmPassword, #authSwitchToLogIn{
    display: none;
}


.error{
    display: none;
    margin: 0 12px 8px 12px;
    font-size:14px;
    color:red;
    justify-content: space-between;
}

.error span{
    font-size: 16.8px;
    transform: translateY(1px);
}



/* overlay */
.overlay{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    transition: 0.5s; 
}

/* block form */
.block-form {
    width: 100%;
    position: fixed;
    bottom:0;
    left: 50%;
    transform: translate(-50%, 110%);
    z-index: 3;
    background-color: #FFF8F1;
    box-shadow: #00000013 0px 0px 8px;
    transition: 0.5s;
    box-sizing: border-box; 
    padding:16px;
    border-radius: 16px 16px 0px 0px;
}
.block-form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 12px;
}
.block-form-header-title{
    color:#555;
    font-size:14px;
}
.block-form-header-actions{
    display: flex;
    align-items: stretch;
}
.block-form-header-actions > p{
    background-color: #FF9E44;
    color:black;
    font-size:14px;
    border: none;
    padding:8px 16px;
    border-radius: 8px;
    margin-left:8px;
}
#deleteBtn, #updateBtn, #createBtn{
    display: none;
}

.block-form-body-title{
    display: block;
    width:100%;
    padding: 20px 12px;
    margin:8px 0;
    font-size: 20px;
    box-sizing: border-box;
    background-color: #FFF8F1;
    border: none;
    border-bottom: solid thin #888;
}
.block-form-body-time{
    display: flex;
    align-items: center;
}
.block-form-body-time span{
    font-size: 16px;
}
.block-form-body-time input, .block-form-body-date{
    font-size: 16px;
    margin:16px 12px;
    border:none;
    background: none;
}

/* cta */
.cta{
    background-color: #FF9E44;
    position: fixed;
    right:32px;
    bottom:32px;
    width:55px;
    height:55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 27.5px;
    box-shadow: #00000014 0px 3px 3px;
    z-index: 1;
}
.cta-icon{
    color:black;
    font-size: 40px;
}



nav {
    padding:16px 32px;
    display: flex;
    justify-content:right;
    align-content: center;
    background-color: #FFF8F1;
    
}
nav span{
    margin-left:16px;
}

.date{
    position: sticky;
    top: 0px;
    padding:16px 32px;
    display: flex;
    justify-content:space-between;
    align-content: center;
    background-color: #FFF8F1;
    align-items: center;
    box-sizing: border-box; 
    z-index: 1;
}

.block-form, nav, .date, .blocks{
    max-width: 800px;
    margin: auto
}

/* block */
.block{
    margin:16px 16px;
    transition: transform 1s ease-in-out;
    display: flex;
    align-items: stretch;
    gap: 16px;
}

.block.gap .block-time-frame{
    visibility: hidden;
}

.block.gap .block-details{
    background-color: #44caff55;
}


.block-time-frame p{
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
    background-color: #ff9e4455;
    color: black;   
}

.block-end-time {
    background-color: #ff9e4455;
}

.block-time-frame{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    overflow-y:visible ;
}

.block-details{
    background-color: #ff9e4421;
    padding: 16px 24px;
    border-radius: 8px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.block-duration{
    font-size: 14px;
    color:#000000;
}


.line{
    height:100%;
    border-left: #FF9E4455 solid thin;
    border-right:#FF9E4455 solid thin;
    flex-grow:1;
}

.circle{
    width:12px;
    flex-grow: 1;
    height:30px;
    border-radius:3px;
    background-color: #FF9E4455;
}

.blocks{
    display: grid;
    grid-template-columns: repeat(7, 100%);
    overflow: hidden;
}

#pop{
    background-color: rgb(253, 91, 91);
    padding: 8px 16px;
    position: fixed;
    top:-100px;
    border-radius: 8px;
    left:50%;
    transform: translate(-50%, 0px);
    z-index:2;
    color:white;
}